streamlit>=1.36.0
openai
requests
Pillow
chromadb==0.4.24
python-dotenv
transformers
# torch and torchvision are now installed automatically by 'transformers'
gTTS
SpeechRecognition
pydub
streamlit-chat
streamlit-lottie
